/**Cores*/

:root{
    --main-color: #212B50;
    --secondary-color: #15853F;
    --input-radio-bg: #F1F5F9;
}

/**Global Styles*/

.main-container{
    min-width: 70.75rem;
    padding: 1.5rem;
}

.icon{
    width: 3.5rem;
    height: 3.rem;
}